/* *****************SETUP SNIPPET START***************** */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* *****************SETUP SNIPPET END***************** */

/* *****************COLOUR STYLING START***************** */
:root {
	--highlight: #ffdcc0;
	--on-highlight: rgb(45 22 0);
	--card-background: rgb(247 242 242);
	--regular-text: rgb(30 27 23);
}
/* *****************COLOUR STYLING END***************** */

/* *****************GENERAL STYLING START***************** */
html {
	font-size: 62.5%;
}

body {
	position: relative;
	height: 100vh;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li {
	font-size: 1.8rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: var(--regular-text);
	font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
/* *****************GENERAL STYLING END***************** */

/* *****************BUTTON STYLING START***************** */
button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
}
button span {
	color: var(--on-highlight);
}

.button-style {
	height: 48px;
	width: 48px;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	/* Using content-box to add invisible padding to button for accessibility purposes */
	box-sizing: content-box;
	padding: 8px;
}

.button-round {
	border-radius: 50%;
	background-color: var(--highlight);
	-webkit-box-shadow: 0px 8px 17px -16px rgba(0, 0, 0, 0.69);
	box-shadow: 0px 8px 17px -16px rgba(0, 0, 0, 0.69);
}
.button-bottom-float {
	position: fixed;
	bottom: 24px;
	right: 24px;
}
/* *****************BUTTON STYLING END***************** */

/**************************************/
.header-main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10vh;
}

.header-main h1 {
	font-size: 4rem;
}

/**************************************/
.header-new-bill {
	display: flex;
	flex-direction: column;
	gap: 20vh;
}

.header-new-bill h1 {
	font-size: 4rem;
}

nav {
	height: 48px;
	display: flex;
	justify-content: flex-start;
}

/**************************************/
.bill-list {
	display: flex;
	flex-direction: column;
	gap: 8px;
}
.bill-container {
	background-color: var(--card-background);
	border-radius: 16px;
	padding: 24px;
	text-align: left;
}

main h2 {
	font-size: 2rem;
	text-align: left;
	margin-bottom: 16px;
}
