/* *****************SETUP SNIPPET START***************** */
html {
	line-height: 1.15;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
footer,
header,
nav,
section {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

figcaption,
figure,
main {
	display: block;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace, monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted;
}

b,
strong {
	font-weight: inherit;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

dfn {
	font-style: italic;
}

mark {
	background-color: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

audio,
video {
	display: inline-block;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

img {
	border-style: none;
}

svg:not(:root) {
	overflow: hidden;
}

button,
input,
optgroup,
select,
textarea {
	font-family: sans-serif;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

progress {
	display: inline-block;
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details,
menu {
	display: block;
}

summary {
	display: list-item;
}

canvas {
	display: inline-block;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* *****************SETUP SNIPPET END***************** */

/* *****************COLOUR STYLING START***************** */
:root {
	--highlight: rgb(199 132 127);
	--on-highlight: rgb(255, 255, 255);
	--card-background: rgb(237 227 225);
	--regular-text: rgb(93 85 82);
	--outline: rgb(170, 170, 170);
	--background: rgb(250 250 250);
	--bright: rgb(224 179 143);
}

/* *****************COLOUR STYLING END***************** */

/* *****************GENERAL STYLING START***************** */
html {
	font-size: 62.5%;
	background-color: var(--background);
}

body {
	position: relative;
	height: 100vh;
}

ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}

.wrapper {
	width: 90%;
	max-width: 500px;
	margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
p,
li,
input,
button,
option,
select,
label {
	font-size: 1.6rem;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: var(--regular-text);
	font-family: "Roboto", sans-serif;
}

.material-symbols-outlined {
	font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}

.text-red {
	font-weight: 500;
	color: red;
	text-align: center;
	margin-bottom: 16px;
}

nav {
	height: 60px;
	display: flex;
	justify-content: flex-start;
}

main h2 {
	font-size: 2rem;
	text-align: left;
	margin-bottom: 16px;
	font-family: 'Open Sans', sans-serif;
}

/* *****************GENERAL STYLING END***************** */

/* *****************BUTTON and SYMBOL STYLING START***************** */

button {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	cursor: pointer;
	/* font-family: 'Open Sans', sans-serif; */
}

.button-copy {
	height: 48px;
	width: 100%;
	border-radius: 48px;
}

.coloured-button-style {
	height: 48px;
	background-color: var(--highlight);
	color: var(--on-highlight);
	-webkit-box-shadow: 0px 4px 17px -16px rgba(0, 0, 0, 0.69);
	box-shadow: 0px 4px 17px -16px rgba(0, 0, 0, 0.69);
	transition: background-color 0.1s;
	display: flex;
	align-items: center;
	justify-content: center;
}

.coloured-button-style:hover,
.coloured-button-style:focus {
	/* float shadow */
	-webkit-box-shadow: 0px 8px 17px -16px rgba(0, 0, 0, 0.69);
	box-shadow: 0px 8px 17px -16px rgba(0, 0, 0, 0.69);
	background-color: var(--bright);
}

.icon span {
	color: var(--regular-text);
}

.button-bottom-float {
	width: 48px;
	padding: 0;

	/* Using content-box to add invisible padding to button for accessibility purposes */
	box-sizing: content-box;
	padding: 4px;

	position: fixed;
	bottom: 48px;
	right: 24px;
	border-radius: 16px;
}

.button-submit {
	font-weight: 500;
	border-radius: 48px;
	align-self: flex-end;
	width: 120px;
}

/******************BUTTON and SYMBOL STYLING END******************/

/******************Header STYLING START********************/
header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 24px;
	margin: 1vh 0 5vh 0;
}

h1 {
	font-size: 4.8rem;
	font-weight: 400;
}

/******************Header STYLING END********************/
/******************SearchBar STYLING START********************/
.search-bar {
	height: 48px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	background-color: var(--on-highlight);
	border-radius: 24px;
	border: 1px solid var(--outline);
	margin-bottom: 4vh;
}

.search-bar input {
	height: 100%;
	width: 100%;
	border: none;
	padding: none;
	border-bottom-right-radius: 24px;
	border-top-right-radius: 24px;
}

.search-bar button {
	height: 48px;
	width: 48px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search-bar span {
	border-bottom-left-radius: 24px;
	border-top-left-radius: 24px;
}

/******************SearchBar STYLING END********************/
/******************Input form styling START********************/

.new-bill-form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
	margin-bottom: 6vh;
}

.new-bill-form .flex-container {
	display: flex;
	align-items: center;
	width: 100%;
	border: 1px var(--outline) solid;
	border-radius: 4px;
}

.new-bill-form input {
	height: 48px;
	width: 100%;
	border: none;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
	padding-left: 8px;
}

.new-bill-form .icon {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 48px;
	width: 48px;
	border-right: 1px solid var(--outline);
	border-radius: 4px;
}

/******************Input form styling END********************/

/******************SelectEmoji Form START********************/
select {
	font-size: 2.2rem;
	background-color: var(--on-highlight);
	border: none;
	text-align: center;
	width: 100px;
	height: 48px;
	border: 1px solid var(--outline);
	border-radius: 4px;
}

option {
	font-size: 2.2rem;
}

.emoji-flex-container {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 24px;
}

.emoji-icon {
	background-color: var(--highlight);
	height: 50px;
	width: 50px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.emoji-icon p {
	font-size: 3rem;
}

/******************SelectEmoji Form END********************/

/******************Card STYLING START********************/
.bill-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-bottom: 16px;

}

.bill-container {
	background-color: var(--card-background);
	border-radius: 16px;
	padding: 24px 16px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	-webkit-box-shadow: 0px 4px 17px -16px rgba(0, 0, 0, 0.69);
		box-shadow: 0px 4px 17px -16px rgba(0, 0, 0, 0.69);
}

.bill-ID {
	font-size: 4rem;
}

.card-header {
	display: flex;
	justify-content: flex-start;
	gap: 12px;
}

.card-header h3 {
	font-weight: 500;
}

.card-body-container {
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	
}

.card-body-container-text:first-child p {
	font-weight: 500;
}

.card-body-container-text {
	
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 8px;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 0 0 0 8px;
	font-size: 2rem;
}

.card-body-container-text p {
	font-family: 'Open Sans', sans-serif;
}

/******************Card STYLING END********************/

footer {
	background-color: var(--highlight);
	height: 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	position: fixed;
	bottom: 0px;
}
footer p {
	font-weight: 500;
	color: var(--on-highlight);
	font-size: 1.8rem;
}
